* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #191c32;
    color: #fff;
}

/* Header */
header {
    text-align: center;
    padding: 20px;
    background-color: #2f345c;
    color: #fff;
}

header h1 {
    font-size: 2.5rem;
    margin: 0;
}

/* Navigation */
nav {
    position: relative; /* Permite el uso de posicionamiento absoluto en el menú */
}

nav input[type="checkbox"] {
    display: none; /* Oculta el checkbox */
}

nav label {
    display: block; /* Muestra el botón */
    cursor: pointer;
    background-color: #2b3058;
    color: white;
    padding: 10px;
    font-size: 1.5rem;
    text-align: center;
}

nav ul {
    display: none; /* Oculta el menú en dispositivos móviles */
}

nav input[type="checkbox"]:checked + label + ul {
    display: flex; /* Muestra el menú cuando el checkbox está marcado */
    flex-direction: column; /* Apila los elementos del menú */
    align-items: flex-start; /* Alinea los elementos a la izquierda */
}

/* Estilos para los elementos del menú */
nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: bold;
}

nav ul li a:hover {
    background-color: #00FFFF;
    color: #191c32;
}

/* Section */
section {
    padding: 20px;
    text-align: center;
}

section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

section p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

section img {
    width: 100%;
    max-width: 500px;
    height: auto;
    border: 7px solid #00FFFF;
    margin-top: 20px;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #2f345c;
    color: #fff;
    font-size: 1rem;
    font-style: italic;
    position: absolute;
    width: 100%;
    bottom: 0;
}

@media (max-width: 768px) {
    nav ul {
        width: 100%; /* Asegura que el menú ocupe todo el ancho */
        margin-top: 10px; /* Espacio entre el botón y el menú */
    }

    nav ul li {
        width: 100%; /* Asegura que cada elemento del menú ocupe todo el ancho */
    }
}
